In [9]:
import pandas as pd
import seaborn as sns
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
#오늘의 과제
#1)학생의 성적을 받는 로직 구현(use DataFrame)
#2)학생의 성적을 토대로 분류 모델 머신러닝 구현(use Classifier)

In [10]:
#1.반복문 + break;
#학생 성적을 계속 받아서 데이터에 저장하는 로직
# while:
#     input('이름을 작성하시오') #중복 조심
#     input('국어 성적을 입력하시오')
    #데이터 프레임에 저장
#extra. 이상치, 결손값 같은 데이터 불균형 상황을 어떤 프로세스로 작업을 할지 생각하기
#ex) 데이터 입력도중에 점수가 100점 이하여야만 하는데 오타로 405점 같은 100점 이상의 데이터가 들어갈 경우 

#2. 저장된 데이터 프레임을 csv확장자로 저장하기
#3. csv로 저장된 데이터 불러와서 데이터프레임에 저장
#(csv를 코드 초기에 불러오는 로직을 구현하여 DB대체 사용)

In [11]:
global df
df = pd.DataFrame(index=range(0,0), columns = ['이름','국어','수학','물리','세계사','분류'])

In [25]:
def insert():
    global df
    name = input('이름을 작성하시오')
    if (df.이름 == name).any():
        name = input('중복된 이름입니다. 다시 입력하세요')
    else:
        Korean = input('국어 성적을 입력하시오')
        Math = input('수학 성적을 입력하시오')
        Physic = input('물리 성적을 입력하시오')
        History = input('세계사 성적을 입력하시오')
        Category = input('과를 입력하시오')
        df.loc[len(df)]=[name, Korean, Math, Physic, History, Category]
        
        # Korean = input('국어 성적을 입력하시오')
        # if (Korean == '') or (int(Korean) > 100):
        #     Korean = input('국어 성적을 다시 입력하시오')
        # else: 
        #     Math = input('수학 성적을 입력하시오')
        #     if(Math == '') or (int(Math) > 100):
        #         Math = input('수학 성적을 다시 입력하시오')
        #     else:
        #         Physic = input('물리 성적을 입력하시오')
        #         if(Physic == '') or (int(Physic) > 100):
        #             Physic = input('물리 성적을 다시 입력하시오')
        #         else:
        #             History = input('세계사 성적을 입력하시오')
        #             if(History == '') or (int(History) > 100):
        #                 History = input('세계사 성적을 다시 입력하시오')
        #             else:
        #                 df.loc[len(df)]=[name, Korean, Math, Physic, History]
   
                
def info() :
    global df
    print(df)
    
def saveCSV():
    global df
    df.to_csv('./studentGrade.csv', index=False)
    
def loadCSV():
    global df
    file_path = './studentGrade.csv'
    df = pd.read_csv(file_path)
    
def viewGraph():
    global df
    df.Math[:].plot(kind='bar', rot=0)
    
def mathDataInfo():
    global df
    mathData = df.iloc[:,2:3]
    print(mathData)

#데이터 불러오고, 0~100점 사이의 값이 없을 경우 (이상치)
#데이터 자체가 없을 경우(결손값)  => 두 경우 모두 평균값으로 대체
#데이터 불러왔을 때 과목 이름의 따라 (column 에 따라 ) 평균값이 달라짐
#결손값은 null값 혹은 0값 찾고, 이상치는 0~100점 사이 외의 값 찾기
#df.loc[df['수학'] == 조건넣기, ('수학')] = 바뀔 평균값
#axis : axis='rows' =row(튜플)기준으로 값을 도출
#numeric_only=True : 데이터는 반드시 숫자로 인식한다는 옵션(데이터 갯수 인식 포함)
def dataFix():
    global df
    #1)컬럼마다 평균값 구하기
    # kavg = df['국어'].mean()
    # mavg = df['수학'].mean()
    # pavg = df['물리'].mean()
    # havg = df['세계사'].mean()
    avg = df.mean(axis='rows', numeric_only=True)
    #2)컬럼의 결손 위치, 이상 위치를 찾아서 업데이트 
    # global df
    count = 0
    for count in range(len(df.index)):
        k = 1
        for i in range(len(df.columns)):
            if (df.iloc[count,k] == ' ') or (int(df.iloc[count,k]) == 0) or (int(df.iloc[count,k]) > 100):
                df.iloc[count,k] = df.iloc[:,k].mean()
            else: 
                break
            k=k+1
        count=count+1
    print(df)
    # count = 1
    # for i in avg:
    #     df.loc[df.iloc[:,count] > 100, df.columns[count]] = round(i)
    #     df.loc[df.iloc[:,count] < 0, df.columns[count]] = round(i)
    #     count = count+1
    # print(df)

In [20]:
info()
saveCSV()

    이름  국어  수학  물리 세계사  분류
0  김준석  11  44  44  11  이과
1  박준석  22  55  44  22  이과
2  가준석  77  11  22  55  문과
3  나준석  88  22  55  77  문과
4  다준석  22  44  33  11  이과
5  라준석  77  22  44  77  문과

In [21]:
#데이터는 반복문 밖에서 불러오면 단 1번만 실행하므로 불확정 요소 연산을 줄일수 있다. 
#계속 반복적으로 csv파일을 로드하는 작업은 컴퓨터에 부하를 야기할 수 있다. 
loadCSV()
info()
while True:
    choice = input('학생 성적을 입력하시겠습니까? 혹은 끝내겠습니까?')
    if choice == 'y':
        insert()
    else: 
        info()
        saveCSV()
        break

    이름  국어  수학  물리  세계사  분류
0  김준석  11  44  44   11  이과
1  박준석  22  55  44   22  이과
2  가준석  77  11  22   55  문과
3  나준석  88  22  55   77  문과
4  다준석  22  44  33   11  이과
5  라준석  77  22  44   77  문과

학생 성적을 입력하시겠습니까? 혹은 끝내겠습니까? y
이름을 작성하시오 오준석
국어 성적을 입력하시오 44
수학 성적을 입력하시오 66
물리 성적을 입력하시오 66
세계사 성적을 입력하시오 11
과를 입력하시오 이과
학생 성적을 입력하시겠습니까? 혹은 끝내겠습니까? ㅛ

    이름  국어  수학  물리 세계사  분류
0  김준석  11  44  44  11  이과
1  박준석  22  55  44  22  이과
2  가준석  77  11  22  55  문과
3  나준석  88  22  55  77  문과
4  다준석  22  44  33  11  이과
5  라준석  77  22  44  77  문과
6  오준석  44  66  66  11  이과

In [26]:
viewGraph()

AttributeError: 'DataFrame' object has no attribute 'Math'

In [28]:
loadCSV()
X = df.iloc[:,1:-1]
y = df.iloc[:,-1]
print(X)

   국어  수학  물리  세계사
0  11  44  44   11
1  22  55  44   22
2  77  11  22   55
3  88  22  55   77
4  22  44  33   11
5  77  22  44   77
6  44  66  66   11

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
#학습용 모델링 만들기
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.25, random_state=1)

In [31]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier

In [32]:
#DecisionTreeClassifier 알고리즘으로 모델 형태 만들기
dt_model = DecisionTreeClassifier(random_state = 1)
#학습진행
dt_model.fit(train_X, train_y)
#검증진행
dt_model.predict(test_X)
dt_pred_y = dt_model.predict(test_X)
#테이블 모형으로 예측결과 출력하기
pd.crosstab(test_y, dt_pred_y)

col_0  문과  이과
분류
문과      1   0
이과      0   1

In [26]:
#MLPCloassifier 알고리즘 모델 형태 만들기
mlp_model = MLPClassifier(hidden_layer_sizes=(100,200,50,20),max_iter=500,random_state=1)
mlp_model.fit(train_X, train_y)
mlp_model.predict(test_X)
mlp_pred_y = mlp_model.predict(test_X)
pd.crosstab(test_y, dt_pred_y)

col_0  문과  이과
분류
이과      1   1