In [1]:
print("김준석")

김준석

In [2]:
#자바 : 정적타입 : 개발자가 타입을 명시 : String name = "이정석"
#파이썬 : 동작타입 : 메모리에 할당 된 값을 보고 언어가 유추하여 타입 지정 : # name = "이정석"

name="이정석"
print(name)

이정석

In [3]:
class1="휴먼교육센터 3클래스"
print(class1+name)

휴먼교육센터 3클래스이정석

In [5]:
#import : 라이브러리 pandas를 가져다 쓰겠다.
#as : 별칭(별칭으로 라이브러리를 지목)
import pandas as pd
#dict_data : 변수 : 변수하는 수 <> 상수
#ict_data : 변수 이름을 지어서 =(대입연산자 : 우측 항 데이터를 좌측 항 변수에 저장(할당))
# 'a' :1 (a를 호출하면 1이라는 값이 출력)
# 'a' 문자열, 1은 정수(숫자)
dict_data={'a':1,'b':2,'c':3, '이정석':'학생'}
#pd(pandas별칭)의 Series 메서드를 실행
# 인자값 dict_data를 넣음
sr=pd.Series(dict_data)
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a       1
b       2
c       3
이정석    학생
dtype: object

In [7]:
#참조타입 : 변수와 변수값을 연결하는 타입 <> 기본타입
list_data=['2019-01-02', 3.14, 'ABC', 100 ,True]
#sr이라는 변수이름에 원래 데이터는 dict_data이였으나,
#list_data로 만들어진 값을 ar변수에 대체 연결
sr=pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [19]:
#학생의 개인정보를 저장하는 딕셔너리 배열을 만들고,
#(이름, id, pw, 성별 등등)
#그 중에 이름을 출력하는 print메서드를 실행하시오.
# {}중괄호 : map(key, value)
# example = {key:value, key: value...}
# []대괄호 : 배열
#example = [1,2,3,4,....]
dict_data={'이름':'이정석','직업':'학생','ID':'ABCD', 'PW':1234, '성별':'남'}

#향상된 반복문
#JAVA) for(String item : stringArray)
#기본 반복문과 동일하나, 배열 처음부터 끝까지 모두 조회를 간략화한 코드 : for (int i = 0; i<stringArray.lengt; i++);
#파이썬)
#item in itemArray:
#itemArray 배열을 모두 순회하면서 하나씩 가져옴
if '이름' in dict_data:
    print('나의 이름은 ' + dict_data['이름'])
else : 
    print('이름 없음')

나의 이름은 이정석

In [27]:
sr=pd.Series(dict_data, index=['이름','ID','PW','직업','성별','주소'])
print(sr)

이름     이정석
ID    ABCD
PW    1234
직업      학생
성별       남
주소     NaN
dtype: object

In [29]:
print(sr[:2])

이름     이정석
ID    ABCD
dtype: object

In [31]:
print(sr[0:3])

이름     이정석
ID    ABCD
PW    1234
dtype: object

In [33]:
df=pd.DataFrame([[15, '남', '덕영중'], [17,'여', '수리중']],
                index=['준서', '예은'],
                columns=['나이', '성별', '학교'])
print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [34]:
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

df2 = df[:]
df2.drop('우현', inplace=True)
print(df2)
print('\n')

df3=df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\h\AppData\Local\Temp\ipykernel_10044\2707941331.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True)
C:\Users\h\AppData\Local\Temp\ipykernel_10044\2707941331.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현', '인아'], axis=0, inplace=True)

In [35]:
exam_data={'이름' : ['서준', '우현', '인아'],
           '수학' : [90, 80, 70],
           '영어' : [98, 89, 95],
           '음악' : [85, 95, 100],
           '체육' : [100, 90, 90]}
global df
df=pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [38]:
print(len(df))
df.loc[len(df)] = ['동규', 90, 80, 70, 60]
#자바는 고정, 가변 배열이 나누어진 반면에
#df[3]의 경우 고정배열로 한정된 메모리 범위 안에서 값을 추가
#df.add[3]의 경우 가변배열로 마지막 칸 이후에 추가적으로 값 추가
#파이썬의 데이터프레임은 바로 배열 번호를 작성하면
#자유롭게 추가 가능

4

In [39]:
df.loc['행5'] = df.loc[0]
print(df)

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3   동규  90  80   70   60
4   동규  90  80   70   60
행5  서준  90  98   85  100

In [40]:
df.set_index('이름', inplace=True)

In [43]:
df.iloc[0][3] = 80
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85   80
우현  80  89   95   90
인아  70  95  100   90
동규  90  80   70   60
동규  90  80   70   60
서준  90  98   85  100

In [46]:
#선형대수
#전치행렬 = 행, 렬 바꾸기
df = df.transpose()
print(df)
#df=df.T 클래스로 전치행렬
#파이썬은 메서드를 사용하여 데이터 처리하는 것이 암묵적 룰

    수학  영어   음악   체육
이름
서준  90  98   85   80
우현  80  89   95   90
인아  70  95  100   90
동규  90  80   70   60
동규  90  80   70   60
서준  90  98   85  100

In [ ]:
#데이터프레임은 2중배열로 column과 row로 구성되어 있다.(=테이블)
#drop : 튜플(row) 삭제
#set_index : 바꾸기
#transpose : 행렬 바꾸기

In [63]:
#학생 회원의 정보를 담는 데이터프레임을 만들고
#추가하는 메서드, 삭제하는 메서드, 변경하는 메서드를
#만들어서 활용하는 코드를 자유롭게 만드시오
exam_data={'이름' : ['서준', '우현', '인아'],
           '수학' : [90, 80, 70],
           '영어' : [98, 89, 95],
           '음악' : [85, 95, 100],
           '체육' : [100, 90, 90]}
global ef
ef = pd.DataFrame(exam_data1)
print(ef) 

#예) 이름, 학번, 성별, 입학날짜, 기타사항...
#컬럼(데이터 프레임)을 만들고
#loc[len()], drop, set_index()를 각각 실행하는
#def 메서드 3개를 만들어 실행하는 코드 작성
#*SOLID 원칙에서 하나의 메서드는 하나의 기능만 실행가능하게 만들기

def funcInsert(name, num1, num2, num3, num4) :
    global ef
    ef.loc[len(ef)] = [name, num1, num2, num3, num4]
    #ef.append(data_set ignore_index=True)
    #5번째 행(줄, 튜플)에 =(대입연산자) 우측에 있는 배열값을 저장
    #df.append(data_set, ignore_index=True)
    
    
def funcUpdate(name, num1, num2, num3, num4) :
    global ef
    ef.loc[ef.이름 == name, ('수학', '영어', '음악', '체육')] = (num1, num2, num3, num4)
    
def funcDelete(name) :
    global ef
    #ef변수에 ef.이름이 '준수'가 아닌 값을 가져와서 df에 할당(저장)
    #ef=ef.loc[df.이름!='준수']
    ef = ef.loc[ef.이름 != '준수']
    #ef.drop(name, axis=0)

funcInsert('준수', 10, 20, 30, 40)
funcUpdate('우현', 90, 99, 89, 90)
funcDelete('준수')

print(ef)

    이름      학번  성별  입학날짜  기타사항
0   정석  220051  남자    85   100
1   보라  220501  여자    95    90
2  케이티  230405  여자   100    90
    이름      학번  성별  입학날짜  기타사항  수학  영어  음악  체육
0   정석  220051  남자    85   100 NaN NaN NaN NaN
1   보라  220501  여자    95    90 NaN NaN NaN NaN
2  케이티  230405  여자   100    90 NaN NaN NaN NaN

In [57]:
#1.함수(메서드)개념
#함수 : 재활용이 가능한 코드의 집합 = 메서드
#2. 전역변수, 지역변수
#전역변수 : 여러 메서드들이 사용할 수 있는 변수
#지역변수 : 메서드 안에서만 존재하는 변수(밖으로 나가면 소멸)

a=10;
def test() :
    #변수 a는 전역변수에 a를 지칭(가져옴)
    #global 선언문이 없다면, test()함수 내에서
    #지역변수 a를 만들어서 20데이터를 저장
    global a
    a=20
    print(a)
#a의 값은 전역변수 a로 출력
print(a)
test()
print(a)

10
20

In [ ]:
def6.set_index(['이정석','한보라','케이티'])
print